<div class="container">
  <h1><%= @task.title %></h2>
  <p class="p-3 mb-2 bg-dark text-white"><%= @task.details %></p>
  <p>Status : <%= @task[:completed] ? "The task is completed" : "The task is not completed"%></p>
  <hr>
  <%= link_to "Back", tasks_path %>
  <%= link_to "Edit", edit_task_path(@task) %>
</div>
